<footer class="site-footer" style="margin-top: 100px; clear:both;position: absolute;">

<nav class="navbar navbar-default navbar-static-bottom" >
<h2 class="navbar-text">created by GK</h2>

</nav>

</footer>
